.Menu{
    background-color: #41B1C2;
    position: relative;
    left: 0;
    border: solid black 2px;
    width:15em;
    padding-top:1em;
    color:#ffffff
    
}

.Menu ul{
    list-style-type: none;
    
}


.Menu li{
    padding-top:1em;
    
    
}

.Menu li:hover{
    cursor: pointer;
    background-color: #0e6f7e;
    padding:1em;
    transition:ease 1s;
    
}