.envio-container{
    grid-column: 2/6;
    border: 0.1em solid black;
    position: relative;
    border-radius: 1em;
    width:100%;
    padding:1em;
    border:2px solid black;
}

h2{
    text-align: center;
}

