.envio-container{
    grid-column: 2/6;
    display: block;
    border: 0.1em solid black;
    position: relative;
    border-radius: 1em;
    width:90%;
    padding:1em;
}

h2{
    text-align: center;
}