.menu{
    background-color: #41B1C2;
    position: absolute;
    grid-column: 1/2;
    border: solid black 1px;
    padding-top:1em;
    padding-bottom:1em;
    color:#ffffff;
    margin-right:1em;   
    height:24em;
    width: 85%;
    border-radius: 0.1em;
    display: block;
    
}

.menu-item{
    list-style-type: none;
    width:80%;
    margin-bottom:1em;
    color:white;
    margin-right:15em;
    padding:0.3em;
    font-weight: bolder;
}


.menu-item:hover{
    color:white;
    cursor: pointer;
    background-color: #0e6f7e;
    padding:0.5em;
    transition:ease 1s;
    width:100%;
    
}
