.menu{
    background-color: #41B1C2;
    position: fixed;
    grid-column: 1/2;
    border: solid black 1px;
    padding-top:1em;
    color:#ffffff;
    margin-right:1em;
    height:17em;
    width: 23%;
    border-radius: 0.1em;
    
}

.menu-item{
    list-style-type: none;
    width:100%;
    color:white;
    
}


.menu-item:hover{
    color:white;
    cursor: pointer;
    background-color: #0e6f7e;
    padding:1em;
    transition:ease 1s;
    
}
