.menu{
    background-color: #41B1C2;
    position: relative;
    grid-column: 1/2;
    border: solid black 1px;
    padding-top:1em;
    color:#ffffff;
    margin-right:1em;
    
}

.menu-item{
    list-style-type: none;
    width:100%;
    color:white;
    
}


#nav-dropdown{
    color:white;
}

.menu-item:hover{
    color:white;
    cursor: pointer;
    background-color: #0e6f7e;
    padding:1em;
    transition:ease 1s;
    
}

.menu-item-drop:hover{
    
    cursor: pointer;
    background-color: #0e6f7e;
    padding:1em;
    transition:ease 1s;
    
}